body {
  /* background-color: black; */
}

#navbar-base {

}

#text-block {
  background-color: white;
}

#visual-block {
  background-color: white;
}

.row {
  margin: 50px;
}

.col {
  margin: 20px
}

#alcohol_gauge {
  background-color: rgba(77, 0, 107, 0.5);
}

#country_selector {
  background-color: rgb(38, 0, 255, 0.5);
}

#unemployment_gauge {
  background-color: rgb(0, 223, 122, 0.5);
}

#alcohol_map {
  background-color: rgb(217, 255, 0, 0.5);
}

#unemployment_map {
  background-color: rgb(255, 68, 0, 0.5);
}