<!DOCTYPE html>

<html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <title>NYC Boroughs</title>

        <!-- Include the Leaflet CSS file -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
        crossorigin=""/>

        <!-- Import the Leaflet JS file AFTER the Leaflet CSS file -->
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
        crossorigin=""></script>        

        <!-- Import the D3 JavaScript file -->
        <script src="https://d3js.org/d3.v7.min.js"></script>

        <!-- Import Our Own CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">

    </head>

    <body>
        <!-- The empty DIV that will hold our map -->
        <div id="map"></div>

        <!-- API key, which is needed because this demo uses Mapbox as its tile layer -->
        <script type="text/javascript" src="static/js/config.js"></script>

        <!-- Our own JavaScript file, which must be imported AFTER any API keys, if you use them  -->
        <script type="text/javascript" src="static/js/logic.js"></script>

    </body>
</html>
